@charset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.toggle{
    display: none;
}
#main{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 1330px;
    background-position: right bottom;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Calibri, sans-serif;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.lang{
    color: #292929;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}
.menu li a:hover,
.menu li a.active{
    background-color: #292929;
    color: #ffffff !important;
    font-weight: 700;
    transition: all ease 0.5s;
}
.name{
    font-family: Calibri, sans-serif;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 16px;
}
.name h1{
    font-family: Popins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}
.cvBTN{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
}
.cvBTN:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}
.social{
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;
}
.social a{
    margin: 6px 12px;
}
.social i{
    color: rgba(18, 17, 17, 0.4);
    font-size: 14px;
}
.social a:hover i{
    color: #0072C6;
    transition: all ease 0.5s;
}
.arrow{
    align-self: end;
    width: 50%;
    height: 15%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 0px;
    left: -3%;
    border-right: 1px solid rgba(41, 41, 41, 0.3);
}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #292929 transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.aboutText{
    font-family: Calibri, sans-serif;
    width: 50%;
}
.aboutText h1{
    font-size: 5rem;
    color: #0072C6;
}
.aboutText h2{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 400;
}
.aboutText h1,h2{
    margin: 0px;
    padding: 0px;
}
.aboutText p{
    font-size: 1.2rem;
    color: rgba(251, 251, 251, 0.90);
}
.aboutText button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #0072C6;
}
.aboutText button:hover{
    background-color: #ffffff;
    transition: all ease 0.3s;
}
#services{
    width: 100%;
    height: 100vh;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.sHeading h1{
    color: #ffffff;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}
.sHeading p{
    color: rgba(249, 249, 249, 0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.sHeading{
    text-align: center;
    margin: 20px 0px;
}
.sBox{
    background-color: #2b2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    position: relative;
}
.sbContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sbIMG{
    width: 100%;
    height: 70%;
}
.sbIMG img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sbText{
    width: 100%;
	height: 30%;
	background-color:#1E1E1E;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.sbText a{
    margin: 0px;
	color:#FFFFFF;
	font-size: 1.1rem;
	font-family: Calibri, sans-serif;
	display: block;
    display: -webkit-box;
	max-width: 80%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sType{
    font-family: Calibri, sans-serif;
    color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.sBox:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.sbText a:hover{
    /* color: rgba(255, 255, 255, 0.50); */
    color: #0072C6;
}
#portfolio{
    width:100%;
	box-sizing: border-box;
    font-family: Calibri, sans-serif;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
}
.pHeading{
    font-family: Calibri, sans-serif;
    font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	background-color: #292929;
	letter-spacing: 2px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}
.pBox{
    background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
}
.pbContainer{
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.textOverlay{
    font-family: Calibri, sans-serif;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 114, 198, 0.89);
    display: none;
}
.textOverlay h1, p{
    color: #ffffff;
}
.textOverlay h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.textOverlay p{
    font-size: 1.2rem;
    margin: 0px;
}
.pBox:hover .textOverlay{
    display: flex;
}
 .pBox img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 #contactBTN h1{
     font-size: 2rem;
     color: #1E1E1E;
     font-family: Calibri, sans-serif;
     margin: 10px;
     padding: 5px;
     letter-spacing: 4px;
     border-radius: 2px solid #1e1e1e;
 }
 #contactBTN{
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: #F4F7FF;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
 }
 #contactBTN button{
	color:#FFFFFF;
	font-size: 1rem;
	font-family: Calibri, sans-serif;
	width:150px;
	height: 40px;
	margin: 10px;
	background-color: #1E1E1E;
	border: none;
	outline: none;
	box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
}
.cbHeading{
	font-size: 2rem;
	color:#1E1E1E;
	font-family: calibri;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
	border-bottom: 2px solid #1E1E1E;
	
}

 #contactBTN a{
     color: #ffffff;
     font-size: 1rem;
     font-family: Calibri, sans-serif;
     width: 150px;
     height: 40px;
     margin: 10px;
     background-color: #1E1E1E;
     box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #contactBTN button:hover{
	background-color: #0072C6;
	color:#000000;
	transition: all ease 0.5s;
	font-weight: bold;
}
 #contactForm{
     width: 100%;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #contactForm form{
     display: flex;
     width: 70%;
     height: 60vh;
     background-color: #1a1a1a;
     box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
     border: 1px solid rgba(255, 255, 255, 0.01);
 }
 .contactLeft{
     width: 40%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .contactRight{
     width: 60%;
     height: 100%;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     border-left: 1px solid rgba(255, 255, 255, 0.4);
 }
 .clHeading{
     font-family: Calibri, sans-serif;
     color: #ffffff;
     font-size: 3rem;
     letter-spacing: 2px;
     font-weight: 400;
 }
 .fName, 
 .fEmail{
     display: flex;
     flex-direction: column;
     font-family: Calibri, sans-serif;
 }
 .fName font, 
 .fEmail font{
     color: #bfbfbf;
     font-size: 22px;
 }
 .fName input, 
 .fEmail input{
     height: 30px;
     width: 250px;
     border: none;
     outline: none;
     background-color: transparent;
     border-bottom: 1px solid #929292;
     color: #ffffff;
     margin: 10px 0px;
 }
 .fName input::placeholder, 
 .fEmail input::placeholder{
    opacity: 0.5;
    letter-spacing: 1px;
 }
 .fName input:focus,
 .fEmail input:focus{
     border-bottom: 1px solid #0072C6;
     transition: all ease 0.5s;
 }
 .message{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
 .message font{
    font-size: 18px;
	color:#4E4E4E;
	font-family: Calibri, sans-serif;
 }
 .contactRight textarea{
    width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
 }
 .contactRight textarea::placeholder{
     color: #ebebeb;
     font-size: 18px;
     letter-spacing: 2px;
     font-family: Calibri, sans-serif;
 }
 .contactRight button{
     width: 100%;
     height: 50px;
     background-color: #0072C6;
     font-weight: bold;
     outline: none;
     border: none;
     margin: 0px;
     color: #1b1b1b;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 2px;
 }
 @media(max-width:1190px){
     #main{
         background-size: 1150px;
     }
     .name{
         left: 10%;
         top: 50%;
         transform: translate(-10%, -50%);
     }
     .aboutModel img{
         height: 400px;
     }
     #services{
         height: auto;
     }
     .sbContainer{
         flex-wrap: wrap;
     }
     .sBox{
         flex-grow: 1;
     }
     .sbText{
         text-align: center;
     }
     #contactForm form{
         width: 95% !important;
     }
 }
 @media(max-width:970px){
     #main{
         background-image: none !important;
     }
     .name{
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
     }
     .aboutModel{
         display: none;
     }
     #about{
         justify-content: center;
         padding-top: 0px;
     }
     .aboutText{
         width: 90%;
     }
     .aboutText h1{
         font-size: 4rem;
     }
     .pbContainer{
         width: 100%;
     }
 }
 @media(max-width:900px){
     .toggle{
         display: block;
     }
     .toggle::before{
         content: '\f0c9';
         font-family: fontAwesome;
         line-height: 0px;
         margin-left: 25px;
     }
     .toggle.active::before{
         content: '\f00d';
     }
     nav{
         padding: 10px 30px;
     }
     nav ul{
         position: absolute;
         width: 100%;
         height: auto;
         box-sizing: border-box;
         background-color: #0f0f0f;
         top: 50px;
         left: 0px;
         transition: 0.5s;
         overflow: hidden;
         border: 3px solid #1f1f1f;
         display: none !important;
         margin: 0px;
         padding: 0px;
     }
     nav ul li a{
         border-bottom: 1px solid rgba(255, 255, 255, 0.10);
         width: 100%;
         height: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0px !important;
         padding: 0px !important;
     }
     .activeMenu{
         display: block !important;
     }
     .pbContainer{
         grid-template-columns: 1fr 1fr;
         grid-template-rows: auto;
         height: auto;
         grid-gap: 10px;
     }
     #contactBTN h1{
         font-size: 1.4rem;
         text-align: center;
     }
     #contactForm{
         padding: 20px;
         height: auto;
         box-sizing: border-box;
     }
     #contactForm form{
         flex-direction: column;
         height: auto;
         padding: 20px;
         width: 90% !important;
     }
     .contactLeft,
     .contactRight{
         width: 100%;
         border: none;
     }
     .fName,
     .fEmail{
         width: 100%;
     }
     .fName input,
     .fEmail input{
         width: 100%;
         border: none;
         background-color: #262626 !important;
         padding: 10px;
         box-sizing: border-box;
         height: 40px;
     }
     textarea{
         background-color: #262626 !important;
         margin: 10px 0px;
         padding: 10px;
         height: 200px !important;
         width: 100% !important;
     }
     .message{
         margin: 0px;
     }
     #contactForm form h1{
         margin: 5px 0px;
     }
 }
 @media(max-width:600px){
     .pbContainer{
         grid-template-columns: 1fr;
     }
     #contactBTN h1{
         font-size: 1.2rem;
         margin: 0px 10%;
     }
     .name{
         width: 60%;
     }
     .arrow{
         margin-bottom: 20px;
     }
     .social{
         left: 50px;
         transform: translateX(-10px);
     }
 }
 @media(max-width:400px){
     .sBox{
         width: 100%;
         height: 400px;
     }
 }